# 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家
### Hints: 隨機產生數值

In [2]:
import pandas as pd
import numpy as np

In [3]:
rand = {'國家': ["America", "Japan", "Taiwan", "Canada","Korea","Thailand","Brazil"],
        '人口': np.random.randint(10000000, size = 7),
        '天氣':['sun','rain','snow','rain','rain','sun','rain']}
rand = pd.DataFrame(rand)
rand

         國家       人口    天氣
0   America  4813210   sun
1     Japan   829312  rain
2    Taiwan  4290652  snow
3    Canada  6825266  rain
4     Korea  1095670  rain
5  Thailand  9368474   sun
6    Brazil   413012  rain

In [4]:
#groupby依照自己要的欄位分組，並查看數量。
rand.groupby('天氣').size()

天氣
rain    4
snow    1
sun     2
dtype: int64

In [5]:
#依照欄位分組後取人口平均。
rand.groupby(by="天氣")['人口'].mean()

天氣
rain    2290815
snow    4290652
sun     7090842
Name: 人口, dtype: int64

In [6]:
rand_max = rand[rand['人口'] == rand['人口'].max()]
rand_max

         國家       人口   天氣
5  Thailand  9368474  sun

In [7]:
rand.iloc[rand['人口'].idxmax()]

國家    Thailand
人口     9368474
天氣         sun
Name: 5, dtype: object

In [8]:
rand.iloc[rand['人口'].idxmax()][0]

'Thailand'