# Python Data Type

In [4]:
import os
import numpy as np
import pandas as pd

## 數值 1.整數int 2.浮點數float

In [7]:
jordan_h = 208
jordan_w = 99.5

print(type(jordan_h))
print(type(jordan_w))

<class 'int'>
<class 'float'>

In [10]:
jordan_bmi = jordan_w / (jordan_h*0.01)**2
print(jordan_bmi)
print(type(jordan_bmi))

22.998335798816566
<class 'float'>

## 文字 string

1.雙引號解決 2.跳脫符號

In [ ]:
shaq = "Shaq O'Neal"
print(shaq)
print(type(shaq))

In [15]:
shaq = 'Shaq O\'Neal'
print(shaq)
print(type(shaq))

Shaq O'Neal
<class 'str'>

In [22]:
a = 'He want to eat an \"apple\".'
a

'He want to eat an "apple".'

1.＊乘號複製文字  2.\n換行符號

In [25]:
td = 'Tim Duncan'
print((td + "是史上最偉大的中鋒之一\n")*3)

Tim Duncan是史上最偉大的中鋒之一
Tim Duncan是史上最偉大的中鋒之一
Tim Duncan是史上最偉大的中鋒之一

### 綜合練習

In [29]:
td = 'Tim Duncan'
td_h = 212
td_w = 111.2
td_bmi = td_w / (td_h*0.01)**2
print(td + " 的BMI是：" + td_bmi)

TypeError: must be str, not float

In [31]:
td = 'Tim Duncan'
td_h = 212
td_w = 111.2
td_bmi = td_w / (td_h*0.01)**2
print(str(td) + " 的BMI是：" + str(td_bmi))

Tim Duncan 的BMI是：24.741901032395866

若覺得小數點太多則使用.format{} 1.全部輸出 2.{:.2f} 輸出兩位小數

In [36]:
td = 'Tim Duncan'
td_h = 212
td_w = 111.2
td_bmi = td_w / (td_h*0.01)**2
print("{} 的BMI是: {}".format(td, td_bmi))

Tim Duncan 的BMI是: 24.741901032395866

In [37]:
print("{} 的BMI是: {:.2f}".format(td, td_bmi))

Tim Duncan 的BMI是: 24.74

## 布林值 boolean

In [40]:
td = 'Tim Duncan'
td_h = 212
td_h_f = td_h // 30.48
print(td_h_f)
print(td_h_f >= 7)
print(td_h_f <= 7)

6.0
False
True

In [43]:
print(int(False))
print(float(False))
print(int(True))
print(float(True))

0
0.0
1
1.0

# Pandas Dtypes

In [5]:
# 設定 data_path
dir_data = '/Users/squid504s/Desktop/GitHub/2nd-ML100Days/data/主題一/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

### 檢視各欄位資料型態

In [7]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

### 檢視資料中各個欄位類型的數量

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

### 檢視資料中類別型欄位各自類別的數量

In [4]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

參考資料
1 Fabio Nelli: python-data-analytics
2 https://pbpython.com/pandas_dtypes.html