# String Manipulation

### 用split() 做文本分割

In [1]:
#逗點分隔
text = '88 Taiwan bear, Taiwan'
text.split(',')

['88 Taiwan bear', ' Taiwan']

In [42]:
#分離字符串"."
 s = "www.squid.com.tw"
 s1 = s.split(".") #點分割 全部分割
 print(s1) # 把字符串變成列表

['www', 'squid', 'com', 'tw']

In [38]:
#切割兩次
s1 = s.split(".",2) # 分割2次數
print(s1)

['www', 'squid', 'com.tw']

In [39]:
#分割兩次，並取序列為1的項
s1 = s.split(".",2)[1] #分隔兩次,取出第一項
print(s1)

squid

In [40]:

#分割兩次，並把分割後的三個部分保存到三個文件
s1,s2,s3 = s.split(".",2)
print(s1) 
print(s2) 
print(s3)

www
squid
com.tw

In [41]:
#切頭切尾取中間
s ="hello boy<[www.squid.com]>byebye" #切頭切尾,取一位
print(s.split("[")[1].split("]")[0]) # www.baidu.com

www.squid.com

### 用strip() 做空格修剪及換行

In [2]:
tokens = [s.strip() for s in text.split(',')]
tokens

['88 Taiwan bear', 'Taiwan']

### 將文字進行變數分配

In [5]:
address, country = [s.strip() for s in text.split(',')]
address

'88 Taiwan bear'

In [6]:
country

'Taiwan'

### 用+號連接文本

In [7]:
address + ',' + country

'88 Taiwan bear,Taiwan'

### 若要連接的更多，可用join()在中間加入。

In [9]:
strings = ['A','B','C','D','EE','FFF','G+']
';'.join(strings)

'A;B;C;D;EE;FFF;G+'

### 關鍵字搜尋

In [10]:
'Taiwan' in text

True

In [11]:
text.index('Taiwan')

3

In [12]:
text.find('Taiwan')

3

### 若找不到關鍵字則回傳

In [13]:
text.index('Japan')

ValueError: substring not found

In [14]:
text.find('Japan')

-1

### 用count()計算出現次數

In [15]:
text.count('T')

2

In [16]:
text.count('bear')

1

### 用replace() 替換或刪除字串

In [18]:
text.replace('bear','wolf')

'88 Taiwan wolf, Taiwan'

In [20]:
text.replace('1','')

'88 Taiwan bear, Taiwan'

# 正規表達式
正則表達式提供了一種非常靈活的方法來搜索和匹配文本中的字符串模式。

單個表達式，通常稱為正則表達式，是根據正則表達式語言形成的字符串。

有一個名為re的內置Python模塊，它負責正則表達式的操作。

In [21]:
import re
#re的三個類別
#pattern matching
#substitution
#splitting

空白符號 \s+

In [22]:

text = "This is      an\t odd  \n text!"
re.split('\s+', text)
['This', 'is', 'an', 'odd', 'text!']

['This', 'is', 'an', 'odd', 'text!']

您可以使用re.compile（）函數編譯正則表達式函數，從而獲得可重用的對象正則表達式。

In [25]:
regex = re.compile('\s+')
regex.split(text)

['This', 'is', 'an', 'odd', 'text!']

### findall() 在文本中找到A開頭的單字

In [26]:
text = 'This is my address: 16 Bolton Avenue, Boston'
re.findall('A\w+',text)

['Avenue']

### search()
只回傳第一個找到的。

In [27]:
re.search('[A,a]\w+',text)

In [28]:
search = re.search('[A,a]\w+',text)
search.start()

11

In [29]:
 search.end()

18

In [30]:
text[search.start():search.end()]

'address'

### match()
對開頭第一個單字進行尋找，若不符合則不回傳任何東西。

In [31]:
re.match('[A,a]\w+',text)

In [32]:
re.match('T\w+',text)

In [34]:
match = re.match('T\w+',text)
text[match.start():match.end()]

'This'